@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

label {
  font-size: 1rem !important;
  text-overflow: ellipsis;
}

.form-input {
  font-size: 16px !important;
}

button {
  font-size: 15px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
